.Score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 6vh;
  padding-bottom: 0.2rem;
  text-transform: uppercase;
  background-color: #bdb0a7;
  color: #4d4132;
  border-radius: 5px;
  line-height: 2em;

  &:first-child {
    margin-right: 10px;
  }
  
  .value {
    color: #fff;
    font-size: 1.3em;
    line-height: 0.7em;
  }
}
