@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:600');

body {
  display: flex;
  justify-content: center;
  --headerHeight: 25vh;
  --mainHeight: 68vh;
  background-color: #fff6f1;
  user-select: none;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1024px;
  width: 100%;
  margin: 0 20px;
  
  .header {
    display: flex;
    height: var(--headerHeight);

    .content {
      display: flex;
      margin: 0 auto;
      width: 100%;
      justify-content: space-between;
      max-width: var(--mainHeight);

      .title {
        display: flex;
        align-items: center;
        width: 50%;
        font-size: 4em;
        color: #322d27;
        font-family: 'Nunito Sans', sans-serif;
      }
    
      .score-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
        font-size: 0.7em;
      }
    }
  }
}


