body {
  display: flex;
  justify-content: center;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #fffff5b7;
  
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1024px;
    height: 25vh;
    color: #999999;
  }
  
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    font-size: 4em;
  }

  .score-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    padding-right: 5vw;
    font-size: 0.7em;

    .Score, .HighScore {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 45%;
      height: 6vh;
      padding-bottom: 0.2rem;
      text-transform: uppercase;
      background-color: #b3a49f;
      color: #ffffff;
      border-radius: 5px;
      line-height: 2em;
    }
  }
  
  .Field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1024px;
    min-width: 360px;
    height: 75vh;
  }
}


