.Field {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  max-width: var(--mainHeight);
  max-height: var(--mainHeight);
  background-color: #bdb0a7;
  cursor: default;
  text-decoration: none;

  &.inGame {
    cursor: move;
  }
}
